<section class="row full-height-vh gradient-celestial mx-0">
  <div class="col-12 d-flex align-items-center justify-content-center px-0">
    <div class="col-md-10">
      <div class="row">
        <!--<h1>Find Your Community</h1>-->
        <h2 class="text-white text-bold-400 text-lg-center col-12">Find Your Community</h2>
      </div>
      <form class="form">
        <div class="form-group">
          <div class="position-relative has-icon-right">
            <input type="text" class="form-control input-lg round text-dark" placeholder="Search">
            <div class="form-control-position">
              <i class="ft-search"></i>
            </div>
          </div>
        </div>
      </form>
      <div class="row d-flex align-items-center justify-content-center">
        <!--(click)="scroll(explore)"-->
        <a href="search#explore" class="btn btn-lg btn-outline-secondary text-white col-md-4 m-3">Explore</a>
        <br>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center mt-3">
          <i class="fa fa-chevron-down white arrow bounce" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>
<section #explore class="full-height">
  <div class="content-wrapper">
  <div class="content-header text-center">Explore</div>
    <div class="container-fluid col-12">
      <div class="row mx-0">
        <div class="card col-sm-6 col-lg-4 col-xl-3">
          <div class="card-header text-center">
            <img alt="Baxter" class="rounded-circle gradient-celestial" src="assets/img/baxter.jpg" width="150">
          </div>
          <div class="card-body" aria-expanded="true">
            <div class="card-block text-center">
              <h4 class="text-bold-600">Baxter Cochennet</h4>
            </div>
          </div>
          <div class="card-footer">
            <div class="row text-center">
             <div class="col-6 col-xs-6">
              <a>
                <i class="ft-globe mr-1"></i>
                <span>Denver</span>
              </a>
             </div>
             <div class="col-6 col-xs-6">
              <a>
                <i class="ft-radio mr-1"></i>
                <span>15</span>
              </a>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="parallax text-center white">
  <h1>Open Garage</h1>
  <h3>Some Text</h3>
  <p>Explore the talent in your community</p>
</section>
<section>
  <div class="content-header text-center">Get Started</div>  
</section>