<div class="card full-width">
  <div class="card-header text-center">
    <img alt="Baxter" class="rounded-circle gradient-celestial" src="assets/img/baxter.jpg" width="150">
  </div>
  <div class="card-body" aria-expanded="true">
    <div class="card-block text-center">
      <h4 class="text-bold-600">{{name}}</h4>
    </div>
  </div>
  <div class="card-footer">
    <div class="row text-center">
      <div class="col-6 col-xs-6">
        <a>
          <i class="ft-globe mr-1"></i>
          <span>{{location}}</span>
        </a>
      </div>
      <div class="col-6 col-xs-6">
        <a>
          <i class="ft-radio mr-1"></i>
          <span>{{connects}}</span>
        </a>
      </div>
    </div>
  </div>
</div>