<nav class="navbar navbar-expand position-absolute bg-transparent active navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header pl-0">
            <a class="navbar-brand text-bold-300 primary lighten-2">
                <img src="assets/img/logos/cropped-og.png" style="height: 50px;" class="brand-logo" alt="logo">
                Open Garage
            </a>
        </div>
        <div class="navbar-container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button type="button" class="navbar-toggle d-md-none float-left" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="navbar-nav d-none d-md-block">
                    <li class="nav-item mr-2">
                        <a href="javascript:;" class="nav-link" appToggleFullscreen>                            
                            <i class="ft-maximize font-medium-3 success lighten-4"></i>
                            <p class="d-none">fullscreen</p>
                        </a>
                    </li>
                    <li class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link position-relative" id="dropdownBasic3" ngbDropdownToggle>
                            <i class="ft-user font-medium-3 success lighten-4"></i>
                            <p class="d-none">User Settings</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                            <a routerLink="/login" class="dropdown-item py-1">
                                <i class="ft-log-in mr-2"></i>
                                <span>Login</span>
                            </a>
                            <!--
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-settings mr-2"></i>
                                <span>Settings</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-edit mr-2"></i>
                                <span>Edit Profile</span>
                            </a>
                            <a class="dropdown-item py-1" href="javascript:;">
                                <i class="ft-mail mr-2"></i>
                                <span>My Inbox</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:;">
                                <i class="ft-power mr-2"></i>
                                <span>Logout</span>
                            </a>
                            -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>