<section class="row full-height-vh">
    <div class="col-12 d-flex align-items-center justify-content-center px-0">
        <div class="card col-12 col-md-8 col-lg-6 col-xl-4 bg-pink white text-center">
                <div class="card-header">
                    <h4 class="card-title">Register</h4>
                </div>
                <div class="card-body">
                    <div class="card-block main-content">
                        <form class="icons-tab-steps wizard-circle" #f="ngForm">
                            <!-- Step 1 -->
                            <h6>Step 1</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="emailAddress1">Email Address</label>
                                            <input type="email" class="form-control" id="emailAddress1" name="emailAddress1">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="password2">Password</label>
                                            <input type="password" class="form-control" id="password2" name="password2">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="password3">Password</label>
                                            <input type="email" class="form-control" id="password3" name="password3">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 2 -->
                            <h6>Step 2</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="name1">Name</label>
                                            <input type="text" class="form-control" id="name1" name="name1">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="location">Location</label>
                                            <input type="text" class="form-control" id="location" name="location">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 3 -->
                            <h6>Step 3</h6>
                            <fieldset>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="skills">Skills/Knowledge</label>
                                        <textarea name="skills" id="skills" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="passions">Passions</label>
                                        <textarea name="passions" id="passions" rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="payment">Accepted form of payment</label>
                                        <select class="custom-select form-control" id="payment" name="payment">
                                            <option value="">Select form of payment</option>
                                            <option value="Nothing">Nothing, happy to help</option>
                                            <option value="Pizza">Pizza</option>
                                            <option value="Tacos">Tacos</option>
                                            <option value="Beer">Beer (must be 21)</option>
                                            <option value="Wine">Wine (must be 21)</option>
                                            <option value="Cash">Cash</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 4 -->
                            <h6>Step 4</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="about">Tell us a bit about yourself</label>
                                            <textarea name="about" id="about" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Wizard Ends -->