$oglogop1: (
    'lighten-5' : #ebe3e8,
    'lighten-4' : #cdb9c5,
    'lighten-3' : #ac8b9e,
    'lighten-2' : #8b5d77,
    'lighten-1' : #723a59,
    'base' : #59173c,
    'darken-1' : #511436,
    'darken-2' : #48112e,
    'darken-3' : #3e0d27,
    'darken-4' : #2e071a,
    'accent-1' : #ff68a7,
    'accent-2' : #ff3589,
    'accent-3' : #ff026b,
    'accent-4' : #e80060
);

$oglogop5: (
    'lighten-5' : #f2e4ec,
    'lighten-4' : #debbcf,
    'lighten-3' : #c88eaf,
    'lighten-2' : #b2608e,
    'lighten-1' : #a23e76,
    'base' : #911c5e,
    'darken-1' : #891956,
    'darken-2' : #7e144c,
    'darken-3' : #741142,
    'darken-4' : #620931,
    'accent-1' : #ff95be,
    'accent-2' : #ff629f,
    'accent-3' : #ff2f80,
    'accent-4' : #ff1571
);

$oglogop2: (
    'lighten-5' : #ede3e9,
    'lighten-4' : #d3bac8,
    'lighten-3' : #b58ca4,
    'lighten-2' : #975d7f,
    'lighten-1' : #813b63,
    'base' : #6b1848,
    'darken-1' : #631541,
    'darken-2' : #581138,
    'darken-3' : #4e0e30,
    'darken-4' : #3c0821,
    'accent-1' : #ff74af,
    'accent-2' : #ff4192,
    'accent-3' : #ff0e75,
    'accent-4' : #f30068,
);

$oglogop3: (
  "lighten-5":  #efe4ea,
  "lighten-4":  #d8bacc,
  "lighten-3":  #be8daa,
  "lighten-2":  #a35f87,
  "lighten-1":  #903c6e,
  "base":       #7c1a54,
  "darken-1":   #74174d,
  "darken-2":   #691343,
  "darken-3":   #5f0f3a,
  "darken-4":   #4c0829,
  "accent-1":   #ff81b7,
  "accent-2":   #ff4e9a,
  "accent-3":   #ff1b7d,
  "accent-4":   #ff026f
);

$oglogop4: (
    'lighten-5' : #efe4ea,
    'lighten-4' : #d8bacc,
    'lighten-3' : #be8daa,
    'lighten-2' : #a35f87,
    'lighten-1' : #903c6e,
    'base' : #7c1a54,
    'darken-1' : #74174d,
    'darken-2' : #691343,
    'darken-3' : #5f0f3a,
    'darken-4' : #4c0829,
    'accent-1' : #ff81b7,
    'accent-2' : #ff4e9a,
    'accent-3' : #ff1b7d,
    'accent-4' : #ff026f
);