<section class="row full-height-vh">
  <div class="col-12 d-flex align-items-center justify-content-center px-0">
    <div class="card col-12 col-md-8 col-lg-6 col-xl-4 bg-pink white text-center">
        <div class="card-img overlap">
            <img alt="element 06" class="mb-1" src="assets/img/logos/cropped-og.png" width="190">
        </div>
      <div class="card-body" aria-expanded="true">
          <div class="card-block bg-pink">
            <h2>Login</h2>              
        <form>
            <ngb-accordion [closeOthers]="true" activeIds="1" type="pink" >
                <ngb-panel id="1">
                    <ng-template ngbPanelTitle>
                        <span class="text-white">Social Login</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="col-md-12 text-center from-group">
                            <a class="btn btn-outline-white btn-outline-google bg-white no-border col-md-12" style="border:none !important;">
                                <span class="fa fa-google"></span> Sign in with Google
                            </a>
                        </div>
                        <div class="col-md-12 text-center from-group">
                            <a class="btn btn-outline-white btn-outline-facebook bg-white no-border col-md-12" style="border:none !important;">
                                <span class="fa fa-facebook"></span> Sign in with Facebook
                            </a>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="2" type="pink" class="bg-pink white">
                    <ng-template ngbPanelTitle>
                        <span class="text-white">Traditional Login</span>
                    </ng-template>
                    <ng-template ngbPanelContent type="pink" class="bg-pink">
                        <div class="form-group" class="bg-pink">
                            <div class="col-md-12">
                                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" email="" id="inputEmail" name="inputEmail"
                                    ngmodel="" placeholder="Email" required="" type="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input _ngcontent-c1="" class="form-control ng-untouched ng-pristine ng-invalid" id="inputPass" name="inputPass" ngmodel=""
                                    placeholder="Password" required="" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                                        <input checked="" class="custom-control-input" id="rememberme" type="checkbox">
                                        <label class="custom-control-label float-left white" for="rememberme">Remember Me</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-block btn-raised" type="submit">Submit</button>
                                <button class="btn btn-secondary btn-lighten-1 btn-block btn-raised" (click)="onCancel()" type="button">Cancel</button>
                            </div>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </form>
      </div>
    </div>
      <div class="card-footer bg-pink white">
        <div class="float-left">
          <a>Recover Password</a>
        </div>
        <div class="float-right">
          <a (click)="onRegister()">New User?</a>
        </div>
      </div>
    </div>
  </div>
</section>